* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

code, pre {
  background: #ebebeb;
  padding: 2px 4px;
  border-radius: 2px;
}

.background {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.title {
  padding: 24px;
  display: inline-block;
  text-transform: uppercase;
  animation: letterspacing 1s alternate ease-in-out;
}

a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
}

:root {
  --content-display: none;
}

#list_container {
  position: relative;
  display: flex;
  gap: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px;
  cursor: pointer;
}
#list_container li {
  flex-shrink: 0;
  height: 30px;
  border-radius: 30px;
  list-style: none;
  line-height: 30px;
  padding: 0 12px;
}
#list_container li:hover {
  transform: scale(1.1) !important;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}
#list_container li:nth-child(1) {
  background: rgb(37, 63, 182);
  opacity: 0;
  animation: falldown 0.3s cubic-bezier(0.43, 0.02, 0.64, 1.5) 540ms forwards;
}
#list_container li:nth-child(2) {
  background: rgb(16, 191, 79);
  opacity: 0;
  animation: falldown 0.3s cubic-bezier(0.43, 0.02, 0.64, 1.5) 348ms forwards;
}
#list_container li:nth-child(3) {
  background: rgb(104, 219, 7);
  opacity: 0;
  animation: falldown 0.3s cubic-bezier(0.43, 0.02, 0.64, 1.5) 317ms forwards;
}
#list_container li:nth-child(4) {
  background: rgb(16, 14, 82);
  opacity: 0;
  animation: falldown 0.3s cubic-bezier(0.43, 0.02, 0.64, 1.5) 212ms forwards;
}
#list_container li:nth-child(5) {
  background: rgb(225, 108, 96);
  opacity: 0;
  animation: falldown 0.3s cubic-bezier(0.43, 0.02, 0.64, 1.5) 192ms forwards;
}
#list_container li:nth-child(6) {
  background: rgb(223, 241, 226);
  opacity: 0;
  animation: falldown 0.3s cubic-bezier(0.43, 0.02, 0.64, 1.5) 140ms forwards;
}

#content_container_background {
  display: var(--content-display);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

#content_container {
  display: var(--content-display);
  width: 1024px;
  height: 100vh;
  position: fixed;
  top: 0;
  border: 0;
  padding: 24px;
  background: #FFF;
  left: calc((100vw - 1024px) / 2);
  flex-direction: column;
  background: linear-gradient(to left bottom, transparent 40px, #fff 88px);
}
#content_container::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  background: linear-gradient(45deg, #888888, #fff 43%, transparent 50%);
  right: 0;
  top: 0;
  border-radius: 4px;
}
#content_container_text {
  flex: 1;
  border: 0;
}
#content_container_title {
  font-size: 14px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}
#content_container_exit {
  position: absolute;
  top: 8px;
  right: -15px;
  cursor: pointer;
}

.swap-animation {
  animation: swap 500ms both;
}

.exit-animation {
  animation: exit 500ms forwards;
}

@keyframes swap {
  0% {
    opacity: 0;
    transform-origin: 0 100%;
    transform: scale(0, 0) translate(-700px, 0px);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scale(1, 1) translate(0px, 0px);
  }
}
.up-move-animation {
  animation: upMove 500ms both;
  overflow-x: hidden;
  flex-wrap: nowrap !important;
}

.down-move-animation {
  animation: downMove 500ms both;
}

@keyframes upMove {
  0% {
    width: 0;
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    width: calc(100vw - 210px);
    opacity: 1;
    transform: translate(160px, -82px);
  }
}
@keyframes downMove {
  0% {
    width: calc(100vw - 210px);
    transform: translate(160px, -82px);
  }
  100% {
    width: 100%;
    transform: translate(0, 0);
  }
}
.background-container-animation {
  animation: bac-color 1000ms both;
}

@keyframes bac-color {
  from {
    background: #FFF;
  }
  to {
    background: #dbdbdb;
  }
}
@keyframes letterspacing {
  0% {
    letter-spacing: -2.2rem;
    filter: blur(2px);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    letter-spacing: 0;
    filter: blur(0rem);
  }
}
@keyframes falldown {
  0% {
    transform: translateX(180px) scaleX(0.3) scaleY(0.1);
    opacity: 1;
  }
  20% {
    transform: translateX(200px) scaleX(0.3) scaleY(0.6);
  }
  75% {
    transform: translateX(0) scaleX(0.3) scaleY(0.6);
  }
  100% {
    transform: translateX(0) scaleX(1) scaleY(1);
    opacity: 1;
  }
}
@keyframes exit {
  0% {
    transform-origin: 20% 20%;
    transform: scale(1) rotate(0);
  }
  100% {
    transform-origin: 20% 20%;
    transform: scale(0.1) rotate(270deg);
    display: none;
  }
}